html {
  font-family: Overpass, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

i {
  color: #fff;
}

h1, h2, p, a {
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  color: #ff9500;
  background-color: #fff;
  border-color: #fff;
}

.bottom {
  border-bottom: solid 3px rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {

  .bottom {
    border: none;
  }

  .left {
    border-left: solid 3px rgba(255, 255, 255, .5);
  }
}
